[Unit]
Description=SIMCom connection manager (SIM8200/SIM7600 on RPi)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/SIM8200_for_RPI/Goonline
ExecStartPre=/bin/sleep 30
ExecStart=/home/pi/SIM8200_for_RPI/Goonline/simcom-cm
Restart=on-failure
RestartSec=5s
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target